body{
    background-color: indianred;
    color: white;
}

h1{
    text-align:center;
    font-size:30pt;
}

p{
    font-size:18pt;
}

.imagem{
    margin:0 auto;
    width: 450px;
    border-color: black;
    border-style: dotted;
    border-width: 3px;
    padding: 3px;
}

.imagem img{
    width:100%;
    height:auto;
}

a{
    color:white;
}

a:link{
    text-decoration:none; 
}

a:hover{
    font-size:20pt;
}