body, html{
    margin: 0;
    padding: 0;
    border-style: border-box;
}
 
.container{
    background-color: lightblue;
    height:100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". info ."
}

.container2{
    background-color: lightcoral;
    color: black;
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    border-style: outset;
    border-color: black;
}

.inputs{
    display: grid;
}

.inputs > input{
    grid: 1; 
    border-radius: 5px;
    font-size: 1.3em;
    margin: 5px;
}

button{
    border-radius: 5px;
    font-size: 1.3em;
    margin: 5px;
}

.tamanhoColecao{
    text-align: center;
    font-size: 1.3em;
    background-color: white;
}

.radios {
    border-radius: 5px;
    font-size: 1.3em;
    margin: 5px;
    align-items: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}