body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr 50px;
    height: 100vh;
    width: 100vw;
}

.layout-login{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 200px 1fr 200px;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
    ". . . "
    ". login ."
    ". . . "
}

form{
    grid-area: login;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-group{
    display: flex;
    justify-content: space-around;
}

.input-group > label{
    flex: 1;
    padding: 5px;
}

.input-group > input{
    flex: 3;
    border-radius: 4px;
    padding: 5px;
}


header{
    background-color: #9ABCA7;
}

nav{    
    background-color: #CEB7B3;
    display: flex;
    justify-content: center;
    align-items: center
}

section{
    background-color: #DBE9EE;
}

footer{
    background-color: #333232;
}